.seo-title {
    visibility: hidden;
}

.grid .item {
    margin: 10px 5px 15px 5px;
}

.navbar .logo-img img {
    max-width: 170px;
}

.navbar-fixed-top #mainmenu .navbar-nav > li > a {
    color: #FFF;
    text-shadow: 1px 1px 1px #00558b;
}

#comments p {
    float: left;
    width: 100%;
}

body .navbar-fixed-top .navbar-nav > li > a:hover {
    background-color: #0077A5;
}