#facebook-auto-publish 
.plugin-version-author-uri {
    display: none;
}

#facebook-auto-publish 
.plugin-title {
    background: none;
}

#facebook-auto-publish th, 
#facebook-auto-publish td {
    background: none;
}