/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Menu transition */
@media only screen and (max-width : 999px) {
 
    #site-logo img {
        max-width: 125px;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Menu transition */
@media only screen and (max-width : 990px) {
 
    .navbar .logo-img {
    top: 0;
    }
    
    .navbar .logo-img img {
        height: 85px;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    .navbar-fixed-top #mainmenu .navbar-nav > li > a {
        text-align: center;
    }
    
    .navbar-collapse {
        border: none;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}